<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>HAT - Housing Analytics Tool</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!-- Global Navigation -->
<div th:replace="fragments/navigation :: navigation"></div>
<!-- Tabs -->
<div class="container" style="margin-bottom: 70px; margin-top: 35px;">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs mt-5" id="contentTabs">
                <li class="nav-item"><a href="#recent" data-url="/maps" class="nav-link active" style="font-size: 16px;">Recent Trends</a></li>
                <li class="nav-item"><a href="#historical" data-url="/charts" class="nav-link"  style="font-size: 16px;">Historical Data</a></li>
            </ul>
            <!-- Tabs Content -->
            <div class="tab-content pt-3">
                <div class="tab-pane active" id="recent" data-loaded="false"></div>
                <div class="tab-pane" id="historical" data-loaded="false"></div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<script>
    // Switch tabs by click
    $('#contentTabs a').click(function (e) {
        e.preventDefault();
        var target = $(e.target).attr('href');
        if($(target).attr('data-loaded') === 'true'){
            $(this).tab('show');
            return;
        }

        var url = $(this).attr("data-url");
        var pane = $(this);

        $(target).load(url, function (result) {
            $(target).attr('data-loaded', 'true');
            pane.tab('show');
        });

    });

    // Initial load of Recent Trends tab (default tab)
    $('#recent').load($('#contentTabs .nav-link.active').attr("data-url"), function (result) {
        $('#recent').attr('data-loaded', 'true');
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</body>
</html>