<!-- Footer -->
<footer class="navbar navbar-light bg-secondaty py-0" th:fragment="footer" style="position: fixed; bottom: 0; width: 100%; background-color: white;">
    <div class="container border-top py-0 my-0">
        <span class="navbar-text mr-auto">
            Developed & Designed by Olena Mialyk © 2023
        </span>
        <span class="navbar-text">
            Data Source: <a href="https://www.zillow.com/research/data/" target="_blank" style="color: #007bff;">Zillow Housing Data</a>
        </span>
    </div>
</footer>